<form action='/create' method='post'>

  <div id = "name">
    Name: <input type='text' name='name' autofocus>
    <br>
  </div>

  <div id = "name">
    Age: <input type='text' name='age'>
    <br>
  </div>

  <div id = "gender">
    Gender: <input type='text' name='gender'>
    <br>
  </div>

  <div id = "image">
    Image: <input type='text' name='image'>
    <br>
  </div>

  <div id = "twitter">
    Twitter URL: <input type='text' name='twitter'>
    <br>
  </div>

  <div id = "github">
    Github URL: <input type='text' name='github'>
    <br>
  </div>

  <button>Add Friend</button>
</form>